.card{
    display: flex;
    margin: 10% 25% 0% 25%;
    border: none;
}
.buttons{
    display: flex;
    flex-direction: column;
    margin: 5% 20%;
}
.btn{
    margin: 2% 30%;
}
.buttons{
    display: none;
}
